# {{ ansible_managed }}

[global_tags]

[agent]
  interval = "{{ telegraf_agent_interval }}"
  round_interval = {{ telegraf_agent_round_interval | lower }}
  metric_batch_size = {{ telegraf_agent_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_agent_metric_buffer_limit }}
  collection_jitter = "{{ telegraf_agent_collection_jitter }}"
  flush_interval = "{{ telegraf_agent_flush_interval }}"
  flush_jitter = "{{ telegraf_agent_flush_jitter }}"
  precision = "{{ telegraf_agent_precision }}"
  debug = {{ telegraf_agent_debug | lower }}
  quiet = {{ telegraf_agent_quiet | lower }}
  logtarget = "{{ telegraf_agent_logtarget }}"
  logfile = "{{ telegraf_agent_logfile }}"
  logfile_rotation_interval = "{{ telegraf_agent_logfile_rotation_interval }}"
  logfile_rotation_max_size = "{{ telegraf_agent_logfile_rotation_max_size }}"
  logfile_rotation_max_archives = {{ telegraf_agent_logfile_rotation_max_archives }}
{% if telegraf_agent_log_with_timezone != '' %}
  log_with_timezone = "{{ telegraf_agent_log_with_timezone }}"
{% endif %}
  hostname = "{{ telegraf_agent_hostname }}"
  omit_hostname = {{ telegraf_agent_omit_hostname | lower }}

[[outputs.influxdb_v2]]
  urls = ["http://44.231.151.241:8086"]
  token = "abcd1234"
  organization = "MyOrg"
  bucket = "telegraf"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false
[[inputs.disk]]
  mount_points = ["/"]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "overlay", "aufs", "squashfs"]
[[inputs.diskio]]
[[inputs.mem]]
[[inputs.net]]
[[inputs.processes]]
[[inputs.swap]]
[[inputs.system]]
[[inputs.netstat]]
[[inputs.kernel]]
[[inputs.kernel_vmstat]]
[[inputs.interrupts]]


[[aggregators.basicstats]]
  period = "{{ aggregator_flush_period }}"
  stats = ["max"]
  drop_original = true
  [aggregators.basicstats.tagpass]
    aggregator = ["max"]

  [[aggregators.basicstats]]
  period = "{{ aggregator_flush_period }}"
  stats = ["mean"]
  drop_original = true
  [aggregators.basicstats.tagpass]
    aggregator = ["mean"]

  [[aggregators.basicstats]]
  period = "{{ aggregator_flush_period }}"
  stats = ["count"]
  drop_original = true
  [aggregators.basicstats.tagpass]
    aggregator = ["count", "max_mean_median_95_count"]

  [[aggregators.basicstats]]
  period = "{{ aggregator_flush_period }}"
  stats = ["max", "mean"]
  drop_original = true
  [aggregators.basicstats.tagpass]
    aggregator = ["max_mean_median_95_count", "max_mean_median_95"]

  [[aggregators.quantile]]
  period = "{{ aggregator_flush_period }}"
  drop_original = true
  quantiles = [0.5, 0.95]
  algorithm = "t-digest"
  [aggregators.quantile.tagpass]
    aggregator = ["max_mean_median_95_count", "max_mean_median_95"]

  [[aggregators.valuecounter]]
  period = "{{ aggregator_flush_period }}"
  fields = ["response_code"]
  drop_original = true
  [aggregators.valuecounter.tagpass]
      aggregator = ["value_count"]

